@model List<Station>
@{

    ViewData["Title"] = "Liste des stations";

}
<h1>@ViewData["Title"]</h1>

<p>La liste des stations du réseau du vélo</p>

<div id="ConteneurStations">
    
    
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Nom de la station</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Commune</th>
                    <th scope="col">Vélos disponibles</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bike in Model)
                {

                    <tr>
                        <th scope="row"></th>
                        <td>@bike.name</td>
                        <td>@bike.address</td>
                        <td>@bike.commune</td>
                        <td>@bike.available_bikes</td>
                    </tr>
                }
            </tbody>
        </table>
    
    
    
</div>

<style>
    

    .CarteStation{
        border-bottom: solid 1px black;
    }

</style>